.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/PicoArduino/v17/ipch/AutoPCH/7065a605ff0028b3/TASKS.ipch
.vs/PicoArduino/v17/DocumentLayout.json
.vs/PicoArduino/v17/DocumentLayout.backup.json
.vs/PicoArduino/v17/Browse.VC.db
.vs/PicoArduino/v17/.wsuo
.vs/PicoArduino/FileContentIndex/c957acfb-0069-4625-bc24-29e25aefa823.vsidx
